/.claude
/datafile_test_0.h5
/datafile_train_all.h5
/dataset_test_0.h5
/dataset_train_all.h5
/HTML
/PDF
# checkpoints/
CLAUDE.md
SPEC.md
__pycache__/
wandb/
data_description.md
SpliceAI/
SpliceAI 
carmelle_regulated_PEs.ipynb
poison_exon_preds_spliceai.npz
poison_exon_preds_splicemamba.npz
checkpoints-Focal loss/
poison_exon_preds_splicemamba_FL.npz
train.py
checkpoints-v2 (CE)/
checkpoints-v3/
TrASPr/
Pangolin/
hg38.fa
hg38.fa.fai
data_cache/
gtex_tissue_labels_chr1.h5
gencode_splice_map.pkl
GTEx_Analysis_2017-06-05_v8_STARv2.5.3a_junctions.gct.gz
SpliceAI
gencode.v38lift37.annotation.db

checkpoint4_regularization.html
checkpoint4_regularization.ipynb

checkpoints-ensemble/
checkpoints-ablation/
*.npz
SRR2075925.fastq.gz

presentation/
chechpoint*
checkpoint5_production.html
checkpoint5_production.pdf
checkpoint5_production.ipynb
checkpoint5_secondary.html
checkpoint5_secondary.ipynb
checkpoint5_secondary.pdf
HW10_grad_template.ipynb
ani_smiles_clean.txt
OpenSpliceAI/
*.h5
checkpoint6_final*
data/gencode/chr1.gff3
.gitignore
data/gencode/gencode.v46lift37.basic.annotation.gff3.gz
